.Overskrift{
    font-size: larger;
    color: rgb(0, 0, 0);
    align-self: center;
    justify-self: center;
}

.Knap{
    background-color: blue;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
}

.Tekst{
    display: block;
    margin: 50px;
    font-size: larger;
}

.Logo{
    height: 100%;
    align-self: center;
    justify-self: center;
    display: block;
    margin: auto;
}



header{
    background-color: rgb(41, 197, 236);
    height: 15vh;
} 

  body {
    background: linear-gradient(to bottom, #c4f8fc, #d1d2ed); /* replace with your desired colors */
    background-repeat: no-repeat;
    min-height: 100vh;
    
}



.menuButton2{
    color: #ffffff;
    width: 80%;
    height: 20vh;
    border-radius: 10px;
    font-size: 20px;
    background-color: rgba(0, 0, 0, 0.55);
    align-self: center;
    justify-self: center;
    display: block;
    margin: auto;
    position: relative;
    z-index: 1;
}

  
.image-container {
    position: relative;
    width: 100%; /* adjust to your needs */
    height: 300px; /* adjust to your needs */
    border: 5px solid #000000;
    border-radius: 10px;
    align-self: center;
    justify-self: center;
    display: block;
    margin: auto;
  }
  
  .image-container img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
  
  .text-overlay {
    color: white;
    position: absolute;
    top: 20px; /* adjust to your needs */
    left: 20px; /* adjust to your needs */
    right: 20px; /* adjust to your needs */
    bottom: 20px; /* adjust to your needs */
    background-color: rgba(0, 0, 0, 0.514); /* adjust to your needs */
    padding: 20px; /* adjust to your needs */
    text-align: center;
  }
  
  .text-overlay h2 {
    margin-bottom: 10px; /* adjust to your needs */
  }
  
  .text-overlay p {
    font-size: 18px; /* adjust to your needs */
    line-height: 1.5; /* adjust to your needs */
  }