.Overskrift{
    font-size: larger;
    color: blue;
}

.Knap{
    background-color: blue;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
}

.Tekst{
    display: block;
    margin: 50px;
    font-size: larger;
}

.Logo{
    height: 100%;
    align-self: center;
    justify-self: center;
    display: block;
    margin: auto;
}

header{
    background-color: rgb(41, 197, 236);
    height: 15vh;
} 

  body {
    background: linear-gradient(to bottom, #c4f8fc, #d1d2ed); /* replace with your desired colors */
    background-repeat: no-repeat;
    min-height: 100vh;
    
}
.menuButton{
    color: #ffffff;
    width: 200px;
    height: 50px;
    border-radius: 10px;
    font-size: 20px;
    background-color: rgba(0, 0, 0, 0.55);
    align-self: center;
    justify-self: center;
    display: block;
    margin: auto;
}